<h2>Your Cart</h2>

<div class="cart-container">

  
  <div class="cart-grid">

    <div *ngFor="let item of cartItems; let i=index" class="cart-card">

      <img [src]="item.image" class="food-img">

      <div class="cart-info">
        <h3>{{item.name}}</h3>
        <p class="price">₹{{item.price}}</p>

        <div class="qty">
          <button (click)="decreaseQty(item)">-</button>
          <span>{{item.quantity}}</span>
          <button (click)="increaseQty(item)">+</button>
        </div>
      </div>

      <button class="remove-btn" (click)="removeItem(i)">🗑</button>

    </div>

  </div>

  <div class="checkout">
    <h3>Total: ₹{{total}}</h3>
    <button class="order-btn" (click)="placeOrder()">Checkout</button>
  </div>

</div>